body
{
    background-image: url("image_fond.jpg");
	background-repeat: no-repeat;
	background-size: cover;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}

#menu {
    position: fixed;
    right: 2px;
    top: 45%;
    width: 150px;
    margin: 0 0 0 0;
	padding: 10px 0px 10px 35px;
    font-weight: bold;
    font-size: large;
    text-align: left;
	text-indent: 10px;
	color: white;
   	border: 3px solid hsla(121, 73%, 17%, 0.5);
    border-radius: 35px 10px 10px 10px;
    background: hsla(121, 73%, 17%, 0.7);
	z-index: 2;
  }
  
html {
    margin: 0px;
	padding: 0px;
	width: 100%;
   	}

body {
    margin: 10px;
	padding: 0px;
	}

#bloc_page
{
    width: 1300px;
    margin: auto;
}

section h1, footer h1, nav a
{
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}

header
{
    background: url("separateur.png") repeat-x bottom;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: 400px;
    height: 150px;
}

header h1
{
    font-family: 'BallparkWeiner', serif;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 80px;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

nav ul
{
    list-style-type: none;
}

nav li
{
    margin-right: 15px;
	
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

section
{
    display: flex;
    margin-bottom: 20px;
}

article, aside
{
    text-align: justify;
}

article
{
    margin-right: 20px;
    flex: 3;
}

aside
{
    flex: 1.2;
    position: relative;
    background-color: #706b64;
    box-shadow: 5px 2px 5px #1c1a19;
    border-radius: 50px;
    padding: 15px;
    color: white;
    font-size: 1em;
}

nav ul li
{
 margin:100px 150px; 
}